<?xml version="1.0"?>

<model>
  <name>sst</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yihan Xing</name>
    <email>yihan.xing@uis.no</email>
  </author>

  <maintainer email="yihan.xing@uis.no">Yihan Xing</maintainer>

  <description>
    Subsea Shuttle Tanker model
  </description>
</model>
